.vv-footer-mobile {
    background-color: #c7c7c7;
    padding-left: 16px;
    padding-right: 16px;
 }

 .vv-footer-desktop {
    padding-left: 32px;
    padding-right: 32px;
    background-color: #7d97cd ;
 }

 .vv-footer-max-desktop {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1440px;  
 }

 